@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red: hsla(0, 97%, 63%, 1);
  --dark-blue: hsla(224, 30%, 9%, 1);
  --greyish-blue: hsla(223, 23%, 46%, 1);
  --semi-dark-blue: hsla(223, 36%, 13%, 1);
  --pure-white: hsla(0, 0%, 100%, 1);
}

@layer utilities {
  .heading-l {
    font-size: 2rem;
    font-weight: 300;
  }

  .heading-m {
    font-size: 1.5rem;
    font-weight: 300;
  }

  .heading-s {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .heading-xs {
    font-size: 1.125rem;
    font-weight: 500;
  }

  .body-m {
    font-size: 0.938rem;
    font-weight: 300;
  }

  .body-s {
    font-size: 0.813rem;
    font-weight: 300;
  }
}
